<!DOCTYPE html>
<html lang="en">
<body>
{% extends 'base.html' %}
{% block content %}
<table class="sui-table table-bordered table-sideheader">
      <thead>
        <tr>
          <th>ID</th>
          <th>MAC地址</th>
          <th>强度</th>
          <th>时间</th>
            <th>客户端IP</th>
        </tr>
      </thead>
      <tbody>
      {% for tmp in dev_data %}
          <tr>
          <td>{{ tmp.id }}</td>
          <td>{{ tmp.MAC }}</td>
          <td>{{ tmp.dev_float }}</td>
          <td>{{ tmp.uptime }}</td>
          <td>{{ tmp.fromip }}</td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
{% endblock content %}
<script language="JavaScript">
function myrefresh(){
window.location.reload();
}
setTimeout('myrefresh()',1000); //指定1秒刷新一次
</script>
</body>
</html>